#collectionMenu  {
	margin-top: 19px;
	padding-top: 0px;
	padding-left: 5px;
	padding-right: 0px;
}
#content1 {
	margin-top: 21px;
}
#content1 .container #cardPanel1 {
	height: 100%;
	min-height: 40px;
}

 .parallax-container {
      height: "50px";
    }
        
