@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
	font-family: 'Open Sans', sans-serif;
  }

  main {
    flex: 1 0 auto;
  }
  